.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  background-color: #ccc;
  border: 3px solid rgb(84, 162, 182);
  width: max-content;
  margin: 20px auto;
}
.cell-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}
.border-right-thick {
  border-right: 3px solid rgb(84, 162, 182);
}
.border-bottom-thick {
  border-bottom: 3px solid rgb(84, 162, 182);
} 